@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-track {
	background: #424242;
}

::-webkit-scrollbar-thumb {
	background: #757575;
}

::-webkit-scrollbar-thumb:hover {
	background: #686868; 
}
